---
import WorkExperienceItem from "../components/WorkExperienceItem.astro";

// Skip type checking for this props
// type Props = {
//   workExperiences: WorkExperience[];
// };

const { workExperiences } = Astro.props;
---

<div class="container py-16 md:py-20" id="work">
  <h2
    class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
  >
    My work experience
  </h2>
  <h3
    class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
  >
    Here's what I did until now
  </h3>

  <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    <span
      class="left-2/5 absolute inset-y-0 ml-10 hidden w-0.5 bg-grey-40 md:block"
    ></span>

    {
      workExperiences?.map((experience: WorkExperience) => (
        <WorkExperienceItem {...experience} />
      ))
    }
  </div>
</div>
