---
import { Icon } from "astro-icon/components";

import { COPYRIGHT } from "../consts";
import { $profile } from "../stores/profile.store";

const social = $profile.get().socialMedia;
---

<footer class="pt-8 pr-4 pb-6 text-center">
  {COPYRIGHT}

  <!--  -->
  <div class="flex justify-center gap-4 mt-4">
    <!-- <a href="https://m.webtoo.ls/@astro" target="_blank">
      <span class="sr-only">Follow Astro on Mastodon</span>
      <Icon name="mastodon" />
    </a> -->
    <!-- <a href="https://twitter.com/astrodotbuild" target="_blank">
      <span class="sr-only">Follow Astro on Twitter</span>
      <Icon name="twitter" />
    </a> -->
    {
      !!social?.telegram && (
        <a href={social.telegram} target="_blank">
          <span class="sr-only">Follow Me on Telegram</span>
          <Icon name="telegram" />
        </a>
      )
    }
    {
      !!social?.github && (
        <a href={social.github} target="_blank">
          <span class="sr-only">Go to Ravuthz's GitHub repo</span>
          <Icon name="github" />
        </a>
      )
    }
  </div>
</footer>
