---
import { COPYRIGHT } from "../consts";
import { $profile } from "../stores/profile.store";
import SvgIcons from "./SvgIcons.astro";

const social = $profile.get().socialMedia;
---

<footer class="pt-8 pr-4 pb-6 text-center">
  {COPYRIGHT}

  <!--  -->
  <div class="flex justify-center gap-4 mt-4">
    <!-- <a href="https://m.webtoo.ls/@astro" target="_blank">
      <span class="sr-only">Follow Astro on Mastodon</span>
      <SvgIcons icon="mastodon" />
    </a> -->
    <!-- <a href="https://twitter.com/astrodotbuild" target="_blank">
      <span class="sr-only">Follow Astro on Twitter</span>
      <SvgIcons icon="twitter" />
    </a> -->
    {
      !!social?.telegram && (
        <a href={social.telegram} target="_blank">
          <span class="sr-only">Follow Me on Telegram</span>
          <SvgIcons icon="telegram" />
        </a>
      )
    }
    {
      !!social?.github && (
        <a href={social.github} target="_blank">
          <span class="sr-only">Go to Ravuthz's GitHub repo</span>
          <SvgIcons icon="github" />
        </a>
      )
    }
  </div>
</footer>
