---
import SvgIcons from "./SvgIcons.astro";
const { label, link, icon } = Astro.props;
---

{
  !!link && (
    <a
      class="text-sm text-gray-500 transition hover:text-gray-600"
      target="_blank"
      rel="noopener noreferrer"
      href={link}
    >
      <span class="sr-only">{label}</span>
      <SvgIcons name={icon} />
    </a>
  )
}
