---
import { MENU_ITEMS } from "@/consts";

const { isMobile } = Astro.props;
---

{
  !isMobile ? (
    <ul class="flex items-center">
      {MENU_ITEMS.map((item) => (
        <li class="group pl-6">
          <span
            @click={`triggerNavItem('${item.link}')`}
            class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
          >
            {item.name}
          </span>
          <span class="block h-0.5 w-full bg-transparent group-hover:bg-yellow" />
        </li>
      ))}
    </ul>
  ) : (
    <ul class="mt-8 flex flex-col">
      {MENU_ITEMS.map((item) => (
        <li class="py-2">
          <span
            @click={`triggerMobileNavItem('${item.link}')`}
            class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
          >
            {item.name}
          </span>
        </li>
      ))}
    </ul>
  )
}
